<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🎭 Showtime 🎭 - הצגות</title>
    <link rel="icon" type="image/png" sizes="96x96" href="../static/images/favicon-96x96.png">
    <!-- <link rel="stylesheet" href="ContactUsPage.css"> -->
    <link rel="stylesheet" href="../static/css/Showtime.css">

    <script src="../static/js/loadDb.js"></script>
    <script src="../static/js/renderSite.js" defer></script>
    <script src="../static/js/ContactUsPage.js" defer></script>
</head>
<header>
    <nav id="navbar_container">
    </nav>
</header>
<!--< מסך 9>-->

<body class="whitepink-body">
    <div class="container-contactus">
        <div class="box-contactus">
            <h1 class="h1-contactus"> דעתך חשובה לנו! </h1>
            <h2 class="h2-contactus"> .נשמח לשמוע על מענה\ בקשה\ שאלה שנוגעת לאתרנו </h2>
            <p class="p-contactus"> הכנס תגובתך:</p>
            <br>
            <form action="" method="get" class="contactus-form">
                <input type="טקסט הפסקה שלך"  placeholder="טקסט הפסקה שלך" id="messageInput" />
            </form>
        </div>

        <div class="image-box-contactus">
            <img class="image-logo" src="../static/images/Logo_Web.png" alt="This is an image of logo">
        </div>
    </div>

    <div class="containerbuttons">
        <div class="item1">
            <a href="#" class="dark-button" id="backBtn"> חזור</a>
        </div>
        <div class="item2">
            <a href="#" class="dark-button" id="sendBtn"> שלח</a>
        </div>
        <div class="item3">
            <a href="#" class="dark-button"> התנתק</a>
        </div>
    </div>
</body>

</html>