doctype html
html(lang='he')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title &#x1F3AD; Showtime &#x1F3AD; - &#x5D4;&#x5E6;&#x5D2;&#x5D5;&#x5EA;
    link(rel='icon', type='image/png', sizes='96x96', href='../static/images/favicon-96x96.png')
    link(rel='stylesheet', href='../static/css/Showtime.css')
    script(src='../static/js/loadDb.js')
    script(src='../static/js/renderSite.js', defer='')
  body.whitepink-body
    header
      nav#navbar_container
    .container-landing
      .box-landing
        .landing-text-wrapper
          h1.title-landing  &#x5D0;&#x5EA;&#x5E8; &#x5D3;&#x5D9;&#x5E8;&#x5D5;&#x5D2; &#x5D4;&#x5D4;&#x5E6;&#x5D2;&#x5D5;&#x5EA; &#x5D4;&#x5D8;&#x5D5;&#x5D1; &#x5D1;&#x5D9;&#x5E9;&#x5E8;&#x5D0;&#x5DC; 
          .text-container-landing
            p.p-landing
              | &#x5D1;&#x5D0;&#x5EA;&#x5E8; &#x5D6;&#x5D4; &#x5EA;&#x5D5;&#x5DB;&#x5DC;&#x5D5; &#x5DC;&#x5DE;&#x5E6;&#x5D5;&#x5D0; &#x5D0;&#x5EA; &#x5DB;&#x5DC; &#x5D4;&#x5D4;&#x5E6;&#x5D2;&#x5D5;&#x5EA; &#x5D0;&#x5E9;&#x5E8; &#x5E8;&#x5E6;&#x5D5;&#x5EA; &#x5D1;&#x5EA;&#x5D9;&#x5D0;&#x5D8;&#x5E8;&#x5D0;&#x5D5;&#x5EA; &#x5D1;&#x5D0;&#x5E8;&#x5E5; &#x5DB;&#x5E8;&#x5D2;&#x5E2;, &#x5DC;&#x5E8;&#x5D0;&#x5D5;&#x5EA; &#x5D0;&#x5EA;
              | &#x5D3;&#x5D9;&#x5E8;&#x5D5;&#x5D2;&#x5D9;&#x5D4;&#x5DD; &#x5D5;&#x5DC;&#x5D3;&#x5E8;&#x5D2; &#x5D0;&#x5D5;&#x5EA;&#x5DF;
              | &#x5D1;&#x5E2;&#x5E6;&#x5DE;&#x5DB;&#x5DD; &#x5E2;&#x5DC; &#x5DE;&#x5E0;&#x5EA; &#x5DC;&#x5EA;&#x5E8;&#x5D5;&#x5DD; &#x5DC;&#x5D4;&#x5E0;&#x5D0;&#x5EA; &#x5D0;&#x5D7;&#x5E8;&#x5D9;&#x5DD; &#x5D5;&#x5DC;&#x5D4;&#x5E0;&#x5D0;&#x5EA;&#x5DB;&#x5DD;
          .login-register-buttons-container
            a.pink-button(href='LoginPage')  &#x5DC;&#x5D4;&#x5EA;&#x5D7;&#x5D1;&#x5E8;&#x5D5;&#x5EA;
            br
            br
            a.orange-button(href='RegisterPage')  &#x5DC;&#x5D4;&#x5E8;&#x5E9;&#x5DE;&#x5D4;
      .box-image-landing
        .landing-animation.a
        .landing-animation.b
        .landing-animation.c
        .landing-animation.d
    br