<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🎭 Showtime 🎭 - הצגות</title>
    <link rel="icon" type="image/png" sizes="96x96" href="../static/images/favicon-96x96.png">
    <link rel="stylesheet" href="../static/css/Showtime.css">

    <script src="../static/js/loadDb.js"></script>
    <script src="../static/js/renderSite.js" defer></script>
</head>
<header>
    <nav id="navbar_container">
    </nav>
</header>

<body class="whitepink-body">
    <div class="container-landing">
        <div class="box-landing">
            <div class="landing-text-wrapper">
                <h1 class="title-landing"> אתר דירוג ההצגות הטוב בישראל </h1>
                <div class="text-container-landing">
                    <p class="p-landing"> באתר זה תוכלו למצוא את כל ההצגות אשר רצות בתיאטראות בארץ כרגע, לראות את
                        דירוגיהם ולדרג אותן
                        בעצמכם על מנת לתרום להנאת אחרים ולהנאתכם</p>
                </div>
                <div class="login-register-buttons-container">
                    <a href="LoginPage" class="pink-button"> להתחברות</a>
                    <br />
                    <br />
                    <a href="RegisterPage" class="orange-button"> להרשמה</a>
                </div>
                
            </div>

        </div>
        <div class="box-image-landing">
            <div class="landing-animation a"></div>
            <div class="landing-animation b"></div>
            <div class="landing-animation c"></div>
            <div class="landing-animation d"></div>
        </div>
    </div>


</body>

<br />
</body>

</html>