<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>🎭 Showtime 🎭 - הצגות</title>
    <link rel="icon" type="image/png" sizes="96x96" href="../static/images/favicon-96x96.png">
    <link rel="stylesheet" href="../static/css/Showtime.css">
    <script src="../static/js/loadDb.js"></script>
    <script src="../static/js/renderSite.js" defer></script>
    <script src="OnReviewSubmittedPage.js" defer></script>
</head>
<body class="whitepink-body">
<header>
    <nav id="navbar_container">
 
    </nav>
</header>
<!--< מסך 8>-->

<div class="container-review-submitted">
    <div class="box-review-submitted">
        <h1> תגובתך נשמרה! </h1>
        <h2>תודה על שיתוף הפעולה</h2>
        <p1></p1>
    </div>
    <div class="box-image-review-submitted">
        <img src="../images/Logo_Web.png" alt="This is an image of logo">
    </div>
</div>
<div class="containerbuttons-2">
    <div class="item1">

        <a href="LandingPage#" class="dark-button"> התנתק</a>

    </div>
    <div class="item2">

        <a href="WriteReviewPage" class="dark-button"> חזור</a>
    </div>
    </body>
    
</html>