<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>🎭 Showtime 🎭 - הצגות</title>
    <link rel="icon" type="image/png" sizes="96x96" href="../static/images/favicon-96x96.png">
    <link rel="stylesheet" href="../static/css/Showtime.css">
    <script src="../static/js/loadDb.js"></script>
    <script src="../static/js/renderSite.js" defer></script>
    <script src="../static/js/RecommendedForMe.js" defer></script>
</head>
<header>
    <nav id="navbar_container">
    </nav>
</header>


<body>
    <h1 class="reccomended-header">מומלץ בשבילי </h1>
    <div class="containeresults" id="cards-container">
            
    </div>
    <div class="containerbuttons">
        <div><a href="LandingPage" class="dark-button"> התנתק</a></div>
        <div></div>
        <div><a href="SearchPage" class="dark-button"> חזור</a></div>
    </div>
    </div>
</body>

</html>