doctype html
html(lang='he')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title &#x1F3AD; Showtime &#x1F3AD; - &#x5D4;&#x5E6;&#x5D2;&#x5D5;&#x5EA;
    link(rel='icon', type='image/png', sizes='96x96', href='../static/images/favicon-96x96.png')
    link(rel='stylesheet', href='../static/css/Showtime.css')
    script(src='../static/js/loadDb.js')
    script(src='../static/js/renderSite.js', defer='')
    script(src='../static/js/RecommendedForMe.js', defer='')
  body
    header
      nav#navbar_container
    h1.reccomended-header &#x5DE;&#x5D5;&#x5DE;&#x5DC;&#x5E5; &#x5D1;&#x5E9;&#x5D1;&#x5D9;&#x5DC;&#x5D9; 
    #cards-container.containeresults
    .containerbuttons
      div
        a.dark-button(href='LandingPage')  &#x5D4;&#x5EA;&#x5E0;&#x5EA;&#x5E7;
      div
      div
        a.dark-button(href='SearchPage')  &#x5D7;&#x5D6;&#x5D5;&#x5E8;