<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>🎭 Showtime 🎭 - הצגות</title>
    <link rel="icon" type="image/png" sizes="96x96" href="../static/images/favicon-96x96.png">
    <!-- <link rel="stylesheet" href="ReviewListPage.css"> -->
    <link rel="stylesheet" href="../static/css/Showtime.css">
    <script src="../static/js/loadDb.js"></script>
    <script src="../static/js/renderSite.js" defer></script>
    <script src="../static/js/ReviewListPage.js" defer></script>
</head>
<header>
    <nav id="navbar_container">
    </nav>
</header>

<!--< מסך 6>-->

<body class="pinkwhite-body">
    <div class="list-review-logo-container">
        <img src="../static/images/Logo_Web.png" alt="This is an image of logo" class="list-review-logo">
    </div>
    <h1 id="title" class="title-reviewlist"></h1>
    <div class="container-reviewlist">
        <div class="box-reviewlist" id="review-list">
        </div>

        <div class="box-image-reviewlist">
            <img class="logo-image-reviewlist" src="../static/images/תמונת_ביקורות-removebg-preview.png" alt="This is an image of like">
        </div>

        <div class="avg-review">
            ביקורת ממוצעת
            <br>
            <span id="avg-review" class="avg-number">
            </span>
        </div>
    </div>
    
    <div class="containerbuttons-2">
        <div class="item1">
            <a href="SearchResultsPage.html" class="dark-button"> חזור </a>
        </div>
        <div class="item2">

            <a href="LandingPage.html" class="dark-button"> התנתק </a>
        </div>
    </div>
</body>



</html>