@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
/*
Body
*/

.pinkwhite-body {
    background-size: cover;
    font-family: sans-serif;
    background: linear-gradient(to left, white 0%, white 50%, #f5d9df 50%, #f5d9df 100%)
}

.whitepink-body{
    background-size: cover;
    font-family: sans-serif;
    background: linear-gradient(to right, white 0%, white 50%, #f5d9df 50%, #f5d9df 100%)
}
/* 
Header
*/

header {
    background-color: plum;
    position: fixed;
    left: 0;
    right: 0;
    top: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    direction: rtl;
    z-index: 1;
}

header * {
    display: inline;
}


.disabled-navbar-li{
    color: slategray;
}

.disabled-navbar-li:hover {
    color: slategray ;
    background-color: rgba(255, 255, 255, 0);
}

.navbar-li {
    color: rgb(255, 255, 255);
}
.navbar-li:hover {
    color: deeppink;
    background-color: white;
}

header li {
    margin: 20px;
}

header li a {
    color: antiquewhite;
    text-decoration: none;
}


.title-landing {
    color: red;
    justify-content: end;
    /*margin-left: 600px;*/
    line-height: 1.3;
    position: relative;
    animation: h1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes h1 {
    0%{
        top:-250px;
    }
    100%{
        top:0px
    }
}

	
.p-landing {
    color: dimgrey;
    padding: 20px;
    font-size: 1.3rem;
    /*margin-left: 600px;*/
    position: relative;
    animation-name: content;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes content {
    0%{
        right: -1000px;
    }
    100%{
        right: 0;
    }
}


.h2-contactus {
    color: white;
    font-size: xx-large;
}

.h1-contactus {
    color: white;
    font-weight: bold;
    font-size: xxx-large;
}


.p-contactus {
    color: white;
    font-size: x-large;
}

.login-label{
    text-decoration: none;
    font-weight: bold;
    color: grey;
}
/* 
Images
*/
.search-page-head-image {
    width: 100vw;
    max-width: 700px;
    transition-property: transform;
    transition-duration: 0.5s;
}
.search-page-head-image:hover{
    transform: rotateY(360deg);
}




/* 
Grid / Containers
*/

/*Landing Page*/


.container-landing {
    display: grid;
    direction: rtl;
    grid-template-columns: repeat(2, 1fr);
}
.box-landing {
    color: white;
    font-style: initial;
    text-align: -webkit-center;
    grid-column: 1/span 1;
    height: 95vh;
    justify-content: center;
    display: flex;
    align-items: center;
    width: auto;
}
.box-landing a {
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 15px;

}
.box-image-landing {
    text-align: -webkit-center;
    height: 95vh;
    justify-content: center;
    display: flex;
    align-items: center;
    grid-column: auto / span 1;}
.text-container-landing{
}

/*Login Page */
.container-login {
    margin-top: 80px;

    display: grid;
    direction: rtl;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    grid-template-columns: repeat(2, 1fr);

}
.box-login {
    color: dimgrey;
    text-align: -webkit-center;
    font-style: initial;
    grid-column: auto / span 1;
}
.login-button-wraper{
    text-align: center;
}
.login-image-box {
    grid-column: auto / span 1;
    text-align: -webkit-center;
}

/* Register Page */
.container-register{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    direction: rtl
}
  .box-register {
    grid-column: auto / span 1;
    color: dimgrey;
      text-align:-webkit-center;
    /*border:5px purple solid;*/
    /*margin: 20px 5px;*/
    /*padding: 20px;*/
    font-style: initial;
    /*letter-spacing: 0.3px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    
}
  .register-form{
    /*padding: 40px;*/
    /*margin: 40px;*/
    /*margin-left: 700px;*/
    color: gray;
    text-align: right;
    outline: none;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    text-indent: 0;
    font-weight: 400;
}
  .register-form input[type="שם"]{
   width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 7px;
    background-color: whitesmoke;
    color: #343434;
}
  .register-form input[type="מייל"]{
   width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 7px;
    background-color: whitesmoke;
    color: #343434;
}
 .register-form input[type="סיסמא"]{
   width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 7px;
    background-color: whitesmoke;
    color: #343434;
}
.register-form input[type="תאריך לידה"]{
   width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 7px;
    background-color: whitesmoke;
    color: #343434;
}
.register-form input[type="date"]{
   width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 7px;
    background-color: whitesmoke;
    color: #343434;
}
.register-button-container{
    text-align: -webkit-center;
}


.image-box-register {
    grid-column: auto / span 1;
    text-align: -webkit-center;
    height: 95vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
/*Search Page*/

.search-page-container {
    text-align: center;
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.form-row-grid-item {
    grid-column: 1/span 3;
}

.search-grid-item{
    min-height: 50px;
    grid-column: auto/1 span;
}
.item {
    min-height: 120px;
}

.OR {
    color: black;
    font-weight: bold;
    padding: 20px;
}

.search-results-item {
    min-height: 50px;
}

.containeresults {
    text-align: center;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    place-items: center;
    margin-bottom: 20vh;
}
.logo-searchpage{
    padding-top: 60px;
    width: 300px;
}

/*Review List Page*/
.avg-review{
    direction: rtl;
    text-align: center;
    grid-column: auto/span 2;
}
.avg-number{
    font-weight: bold;
    font-size: 2.3rem;
    color: rgb(255 21 21);
}

.box-image-reviewlist {
    text-align: -webkit-center;
    grid-column: auto/span 1;
    height: 30vh;
}
.logo-image-reviewlist{
    max-width: 100vw;
    height: -webkit-fill-available;
}

.container-reviewlist {
    display: grid;
    min-height: 45vh;
        direction: rtl;
    grid-template-columns: repeat(2, 1fr);
}
.box-reviewlist {
    grid-column: 1/span 1;
    color: black;
    /*border:5px purple solid;*/
    /*margin: 20px 5px;*/
    /*padding: 20px;*/
    font-style: initial;
    text-align: -webkit-center;
    /*letter-spacing: 0.3px;*/
}

.review-grid {
    display: grid;

}

.review-header {
    font-size: 2rem;
    font-weight: bold;
    text-align: -webkit-right;
}
.title-reviewlist{
    text-align: center;
}
.review-rating {
    font-size: 2rem;
    font-weight: bold;
    text-align: -webkit-right;
}

.review-grid-item {
    grid-column: 1/span 2;
}
.list-review-logo-container {
    text-align: center;
}
.list-review-logo{
    padding-top: 50px;
    max-height: 131px;
}
/*Contact Us Page*/
.container-contactus{
    display: grid;
    direction: rtl;
    min-height: 80vh;
}
.box-contactus {
    color: dimgrey;
    align-self: center;
    text-align: -webkit-center;
    /*border:5px purple solid;*/
    /*margin: 20px 5px;*/
    /*padding: 20px;*/
    font-style: initial;
    /*letter-spacing: 0.3px;*/
    grid-column: auto;
    grid-column: 1/2
}

.image-box-contactus{
    place-self: center;
    grid-column: 3/4;
    text-align: -webkit-center;
}

/**/
.containerbuttons {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    place-items: center;
    position: fixed;
    bottom: 7%;
}
.containerbuttons-2 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 49vw 49vw;
    place-items: center;
    position: fixed;
    bottom: 7%;
}

.containerbuttons-single {
    text-align: left;
        width: 100vw;
    padding-top: 40px;
    padding-bottom: 30px;
    display: grid;
    place-items: left;
    position: absolute;
    bottom: 4%;
}


.container-review-submitted {
    display: inline-flex;
    direction: rtl;
    height: 98vh;
}

.container-write-review {
    display: grid;
    width: 100%;
    direction: rtl;
    
}
.box-write-review{
    text-align: -webkit-center;
    font-style: initial;
    grid-column: 1/span 2;
}

.box-image-write-review {
    text-align: -webkit-center;
    grid-column: 3/4;

}
.box-image-review-submitted{
    width: 49vw;
    text-align: -webkit-center;
}
.card {
    padding: 0px 13px 0px 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: 250px;
    background-color: white;
    margin-top: 34px;
    padding-bottom: 5px;
}

.show-img {
    width: 200px; height: 240px;
    object-fit: cover;
    vertical-align: center;
    float: left;
    transition: 1.5s all;
}
.show-img:hover{
width: 100%;
}

.write-review-logo-container {
    text-align: center;
}
.write-review-logo{
    height: 100px;
    padding-top: 20px;
}


.write-review-title{
    text-align: center;
    margin: 0;
}
.upload-review-title{
    margin: 0;
}


.box-review-submitted {
    width: 49vw;
    color: white;
    /*border:5px purple solid;*/
    /*margin: 20px 5px;*/
    /*padding: 20px;*/
    font-style: initial;
    text-align: -webkit-center;
    /*letter-spacing: 0.3px;*/
}

.box-image-review-submitted {
    text-align: -webkit-center;
    width: 49vw;
}


.box-review-submitted a {
    text-decoration: none;
    color: white;
    background-color: #343434;
    padding: 5px;
    margin: 200px;
    border-radius: 15px;
}

/*
Forms
 */

 /*Login Page*/
 
.login-form {
    /*padding: 40px;*/
    /*margin: 40px;*/
    /*margin-left: 700px;*/
    color: gray;
    text-align: right;
    outline: none;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    text-indent: 0;
    font-weight: 400;
}

.login-form textarea:active, .oneRowForm textarea:focus {
    height: 100px;
}

.login-form input[type="מייל"] {
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 7px;
    background-color: whitesmoke;
    color: #343434;
}

.login-form input[type="סיסמא"] {
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 7px;
    background-color: whitesmoke;
    color: #343434;

}

/*Contact Us Page*/


.contactus-form {
    color: gray;
    text-align: right;
    outline: none;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    text-indent: 0;
    font-weight: 400;
}

.contactus-form textarea:active,
.oneRowForm textarea:focus {
    height: 100px;
}


.contactus-form input[type="טקסט הפסקה שלך"] {
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 7px;
    background-color: whitesmoke;
    color: black;
    height: 200px;
    font-size: xx-large;
    text-align: center;
}
.contactus-form .form-group {
    padding-bottom: 90px;
}

.contactus-form label {
    display: block;
}

.contactus-form .ajax-loader {
    position: absolute;
    left: auto;
    right: auto;
}

/*? Page*/
.myW-form input[type="קטגוריה"] {
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 7px;
    background-color: whitesmoke;
    color: #212121;
    text-align: right;
    width: 100%;
}

.myW-form input[type="שם ההצגה"] {
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 7px;
    background-color: whitesmoke;
    color: #212121;
    text-align: right;
    width: 100%;

}


.search-form {
    width: 80vw;
    justify-content: space-evenly;
    direction: rtl;
    display: inline-flex;
    text-align: right;
}

.write-review-form {
    width: 70%;
    color: black;
    text-align: right;
    outline: none;
    margin-bottom: 20px;
 
}

.write-review-form input[type="כותרת"] {
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 7px;
    background-color: #c9c9cd;
    color: black;

}

.write-review-form input[type="טקסט הפסקה שלך"] {
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 7px;
    background-color: #c9c9cd;
    color: black;
    height: 150px;
    font-size: xx-large;
    text-align: center;
}

.write-review-form textarea:active, .oneRowForm textarea:focus {
    height: 100px;
}

.write-review-form .form-group {
    padding-bottom: 90px;
}

.write-review-form label {
    display: block;
}

.write-review-form .ajax-loader {
    position: absolute;
    left: auto;
    right: auto;
}

.write-review-rating {
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 7px;
    background-color: #c9c9cd;
    color: black;
}

.reccomended-header{
    direction: rtl;
    text-align: -webkit-center;
    padding-top: 5vh;
}
/* 
Buttons
*/
.half-button{           
    width: 50% !important;
}
.dark-button {
    background-color: #343434;
    width: 100%;
    border: none;
    border-radius: 7px;
    line-height: 15px;
    outline: none;
    text-indent: 0;
    text-shadow: none;
    color: white;
    padding: 10px 70px;
    margin: 8px 0;
    text-decoration: none;
}
.button-padding{
    padding: 10px 0px;

}
.light-btn {
    text-decoration: none;
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 7px;
    line-height: 15px;
    outline: none;
    text-indent: 0;
    text-shadow: none;
    margin: 8px 0;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.light-btn a {
    text-decoration: none;
    color:black;
}
.recommended-button{
    background-color: #54c6c4;
    width: 100%;
    border: none;
    border-radius: 7px;
    line-height: 15px;
    outline: none;
    text-indent: 0;
    text-shadow: none;
    color: white;
    padding: 10px 17px;
    margin: 8px 0;
    text-decoration: none;
}
.pink-button {
    background-color: #fa0260;
    text-decoration: none;
    opacity: 0;
    transition-property: transform;
    transition-duration: 0.5s;
    animation-name: pinkbtn;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes  pinkbtn{
    0%{opacity:0;}
    100%{opacity: 100%;}
}

.pink-button:hover {
    color: deeppink;
    background-color: white;
    transition: 1.8s all;
}

.orange-button {
    background-color: orange;text-decoration: none;
    opacity: 0;
    transition-property: transform;
    transition-duration: 0.5s;
    animation-name: orangebtn;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes  orangebtn{
    0%{opacity:0;}
    100%{opacity: 100%;}
}
.orange-button:hover {
    color: orange;
    background-color: white;
    transition: 1.8s all;
}


/* Footer */
footer{
    background: beige;
    width: 100% ;
    position: fixed !important;
    bottom: 0% !important;
    text-align: center;
    font-size: 0.6rem;
}
.fa{
    text-decoration: unset;
    color: rgb(0, 13, 255);
}

/* Dotted border */
hr.dotted {
    border-top: 3px dotted #bbb;
  }

/* 
Animations
*/


.landing-animation {
    background:center/cover no-repeat url("../images/Logo_Web.png");
    width:30%;
    height:40%;
    position:absolute;
  }
  
  .a {
    background-size:100% 100%;
    filter:hue-rotate(72deg);
  }
  
  .b {
    background-size:100% 100%;
    filter:hue-rotate(144deg);
  }
  
  .c {
    background-size:100% 100%;
    filter:hue-rotate(216deg);
  }
  
  .d {
    background-size:100% 100%;
    filter:hue-rotate(288deg);
  }
  
  
  @keyframes a {
    from {
      clip-path:inset(0 80% 80% 0);
    }
    25% {
      clip-path:inset(0 20% 80% 0);
    }
    50% {
      clip-path:inset(0 20% 20% 0);
    }
    75% {
      clip-path:inset(0 80% 20% 0);
    }
    to {
      filter:hue-rotate(144deg)contrast(1.5);
      clip-path:inset(0 80% 80% 0);
    }
  }
  
  @keyframes b {
    from {
      clip-path:inset(0 0 80% 20%);
    }
    25% {
      clip-path:inset(0 0 80% 80%);
    }
    50% {
      clip-path:inset(0 0 20% 80%);
    }
    75% {
      clip-path:inset(0 0 20% 20%);
    }
    to {
      filter:hue-rotate(216deg)contrast(1.5);
      clip-path:inset(0 0 80% 20%);
    }
  }
  
  @keyframes c {
    from {
      clip-path:inset(20% 80% 0 0);
    }
    25% {
      clip-path:inset(20% 20% 0 0);
    }
    50% {
      clip-path:inset(80% 20% 0 0);
    }
    75% {
      clip-path:inset(80% 80% 0 0);
    }
    to {
      clip-path:inset(20% 80% 0 0);
      filter:hue-rotate(288deg)contrast(1.5);
    }
  }
  
  @keyframes d {
    from {
      clip-path:inset(20% 0 0 20%);
    }
    25% {
      clip-path:inset(20% 0 0 80%);
    }
    50% {
      clip-path:inset(80% 0 0 80%);
    }
    75% {
      clip-path:inset(80% 0 0 20%);
    }
    to {
      clip-path:inset(20% 0 0 20%);
      filter:hue-rotate(72deg)contrast(1.5);
    }
  }
  
  .a {animation:a 3s infinite;}
  .b {animation:b 3s infinite;}
  .c {animation:c 3s infinite;}
  .d {animation:d 3s infinite;}
  
  
  
  /*body {*/
  /*  font-family: "Segoe UI", "San Francisco", Calibri, Helvetica, Arial, sans-serif;*/
  /*  margin: 0;*/
  /*  padding: 0;*/
  /*  display: flex;*/
  /*  justify-content: center;*/
  /*  align-items: center;*/
  /*  min-height: 100vh;*/
  /*}*/
  
  .image-box-contactus {
    min-width: 49vw;
      background: white;
    background: -moz-linear-gradient(-45deg, peachpuff 0%, pink 25%, hotpink 50%, deeppink 75%, orange 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, peachpuff 0%, pink 25%, hotpink 50%, deeppink 75%, orange 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, peachpuff 0%, pink 25%, hotpink 50%, deeppink 75%, orange 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  
    background-size: 400% 400%;
    background-repeat: no-repeat;
    display: flex;
    height: 400px;
    max-width: 100vw;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
    transition: 0.5s all;
  }
  .Contact-animation {
    position: absolute;
    left: 0;
    top: 0;
    background: white no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    mix-blend-mode: screen;
  }
  .image-box-contactus:hover {
    background-position: 100% 100%;
  }
  
  .flip-box {
    width: 300px;
    height: 200px;
    perspective: 1000px;
      animation-iteration-count: infinite;
        animation: rotation 5s infinite linear;
  
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.5s;
    transform-style: preserve-3d;
      animation-iteration-count: infinite;
  
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  @keyframes rotation {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  




  @media only screen and (max-width: 600px) {
    .containerbuttons-single {
        position: fixed;
        bottom: 5%;
    }
    .containerbuttons {
        position: fixed;
        bottom: 5%;
        width: 100vw;
    }
    .container-reviewlist {
        grid-template-columns: repeat(1, 1fr);
        min-height: 70vh;
    }
    .box-reviewlist{
        grid-column: auto/span 1;
        height: 20vh;
    }
    .box-image-reviewlist{
        height: 30vh;
    }
    .container-landing {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .container-login {
        grid-template-columns: repeat(1, 1fr);
    }
    .whitepink-body{
        background: linear-gradient(360deg, white 0%, white 50%, #f5d9df 50%, #f5d9df 100%);
    }
    .landing-animation{
        width: 70vw;
        height: 70vw;
    }

    .image-box-contactus{
        grid-column: 1/4;
        width: 100%;
    }
   
    .box-image-landing{
        grid-column: 1/span 4;

    }
    .box-landing{
    grid-column: auto/span 1;
    width: -webkit-fill-available;
    place-self: center;
    width: 80vw;

    }
    .landing-text-wrapper{
        width: inherit;
    }
    .title-landing{
        font-size: 1.5rem;
    }
    .p-landing{
        font-size: 1rem;
    }

    .container-register{
        grid-template-columns: repeat(1, 1fr);
    }

    .box-contactus{
        width: 100%;
        font-size: 1rem;
        grid-column: 1/4;
        padding-top: 40px;
    }
    .image-logo{
        width: 60vw;
    }
    .image-logo-login{
        width: 60vw;

    }
    .h1-contactus{
        font-size: 1rem;
    }
    .h2-contactus{
        font-size: 1rem;
    }

    .review-header{
        font-size: 1rem;
    }
    .review-rating {
        font-size: 1rem;
    }
    .write-review-image{
        width: 100%;
    }
    .box-write-review{
        grid-column: 1/3;
        width: 100vw;
    }
    
    .box-image-write-review {
        grid-column: 1/4;
    
    }
    .avg-review{
        grid-column: auto/span 1;
    }
    .container-write-review{
        justify-content: center;
    }

    .containeresults {
        min-height: 86vh;
        grid-template-columns: 50vw 50vw ;
        align-content: baseline;
        overflow-y: scroll;
        margin-bottom: unset;
        max-height: 86vh;
    }
    .search-page-container{
        grid-template-columns: repeat(1, 1fr);
        height: 90vh;
    }
    #contentInput {
        font-size: 1rem;
    }
    .card {
        grid-column: auto/span 1;
       width: 40vw;
       
    }
    .show-img{
        width: -webkit-fill-available;
       height: 45vw;

    }
    .light-btn{
        font-size: small;
        padding: 5px 10px 5px 10px;
    }
    .OR{
        padding: 20px;
    }
    footer{
        position: unset !important;
    }
    header{
        justify-content: center;
    }
    header li{
        margin:5px
    }
    header nav ul li{
        font-size: 0.7rem;
    }
    nav{
        display: -webkit-box;
    }
    nav ul{
        display: -webkit-box;
        padding-inline-start: 0;
    }
    .dark-button {
        width: 30vw;
        font-size: .5rem;
        padding: 10px 25px 10px 25px;
    }
    .recommended-button{
        background-color: #54c6c4;
        width: 30vw;
        font-size: .5rem;

        
    }
}